body {
  width: 1000px;
  margin: 0px auto;
}
h1 {
  font-size: 2.5em;
  font-family: Georgia;
  letter-spacing: 0.1em;
  color: rgb(142, 11, 0);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
h1 span {
  display: block;
  margin-top: 0.5em;
  font-family: Verdana;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: 0em;
  text-shadow: none;
}
.meta {
  font-family: Georgia;
  color: rgba(69, 54, 37, 0.6);
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 2px solid rgba(69, 54, 37, 0.2);
  padding-bottom: 0.5em;
}
.meta span {
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69, 54, 37, 0.8);
}
.text {
  color: rgb(126, 86, 37);
  font-family: Georgia;
  font-size: 30px;
  font-style: italic;
}
.img_cat {
  border-radius: 15px;  /* Скругление углов изображения */
    border: 15px solid #fff; /* Цвет и ширину рамки */
    box-shadow: 5px 3px 8px #999999; /* Цвет и размер тени */
}

/* Кнопка */
.btn-modal {
  color: #fff;
  cursor: pointer;
  line-height: 3rem;
  padding: 1rem 3rem;
  color: #fff;
  text-decoration: none;
  background-color: #83bec5;
  transition: all 0.3s ease-out;
}
.btn-modal:hover {
  background-color: #527c82;
}

/* Затемнение фона */
.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  transition: opacity 500ms;
  visibility: hidden;
  height: 100%;
  opacity: 0;
}
.modal-overlay:target {
  visibility: visible;
  opacity: 1;
}

/* Модаальное окно */
.open-window {
  margin: 70px auto;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s easeout;
}
.open-window h2 {
  margin: 1em 0;
  color: #333;
  font-family: 'Raleway', sans-serif;
}

/* Кнопка закрыть */
.open-window .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.open-window .close:hover {
  color: #83bec5;
}
.open-window .modal-content-body {
  overflow: auto;
}
.modal-content-body p{
  text-align: justify;
}
::-webkit-scrollbar {
  z-index: 30;
  width: 5px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: #111;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #2b2e33;
}
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.google-logo{
  font-size: 2.5em;
  font-family: Georgia;
}
  .google-logo>span {
  color: #133BC1;
  }
  .google-logo>span>span {
  color: #E33B21;
  }
  .google-logo>span>span>span {
  color: #E6B500;
  }
  .google-logo>span>span>span>span {
  color: #4BCE54;
  }
  .google-logo>span>span>span>span>span {
  color: #0048E3;
  }
  .google-logo>span>span>span>span>span>span {
  color: #E33B21;
  }
